header.header#header
	div.header-inner
		a.header-inner__logo(href="/")
		nav.header-inner__menu
			ul.header-inner__menu_nav
				li.header-inner__menu_nav-item
					a.first.active(href="#home") Home
				li.header-inner__menu_nav-item
					a(href="#id5") Prices
				li.header-inner__menu_nav-item
					a(href="#id7") Contacts
		.header-inner__menu-mobile
			input#toggle(type="checkbox")
			label.toggle-container(for="toggle")
				span.button.button-toggle
			nav.nav
				a.nav-item(href="#home") Home
				a.nav-item(href="#id5") Price
				a.nav-item(href="#id7") Contacts
div#home
div.main
	section.obluchateli-promo
		div.obluchateli-promo__wrapper
			div.obluchateli-promo__interactive
				i.obluchateli-promo__chain.obluchateli-promo__chain--1(style="margin: 32.8417px 25.4736px 11.0214px 4px;")
				i.obluchateli-promo__chain.obluchateli-promo__chain--2(style="margin: 20.065px 36.2122px 16.9827px 9.25982px;")
				i.obluchateli-promo__chain.obluchateli-promo__chain--3(style="margin: 39.2211px 37.1997px 9.69472px 33.7261px;")
				i.obluchateli-promo__chain.obluchateli-promo__chain--4(style="margin: 36.3524px 27.5108px 24.8633px 44.7409px;")
				i.obluchateli-promo__chain.obluchateli-promo__chain--5(style="margin: 32.1777px 6.12197px 42.4297px 3.37399px;")
				i.obluchateli-promo__chain.obluchateli-promo__chain--6(style="margin: 39.0942px 29.5478px 22.6733px 21.1683px;")
				i.obluchateli-promo__chain.obluchateli-promo__chain--7(style="margin: 13.6061px 32.8051px 42.935px 15.407px;")
				i.obluchateli-promo__chain.obluchateli-promo__chain--8(style="margin: 10.0001px 21.0002px 2.0001px 54.9999px;")
			div.obluchateli-promo__body
				div.obluchateli-promo__title
					h1 Germicidal <br>Lamp «Armed»
					span (recirculator)
				div.obluchateli-promo__content
					h3 What is it?
					span It’s a unique device, which disinfects the air in a room by means of ultraviolet in the presence of people.
				div.obluchateli-promo__interactive
					i.obluchateli-promo__shit
					i.obluchateli-promo__ellipse.obluchateli-promo__ellipse--big
					i.obluchateli-promo__ellipse.obluchateli-promo__ellipse--small
					i.obluchateli-promo__bacila.obluchateli-promo__bacila--red
					img.obluchateli-promo__left(src="img/recirculators/recirkulyatory-left.png" alt="recirculators")
					div.obluchateli-promo__recirculators
						i.obluchateli-promo__recirculators-bacila.obluchateli-promo__recirculators-bacila--1
						i.obluchateli-promo__recirculators-bacila.obluchateli-promo__recirculators-bacila--2
						i.obluchateli-promo__recirculators-bacila.obluchateli-promo__recirculators-bacila--3
						i.obluchateli-promo__recirculators-bacila.obluchateli-promo__recirculators-bacila--4
						i.obluchateli-promo__recirculators-bacila.obluchateli-promo__recirculators-bacila--5
						i.obluchateli-promo__recirculators-bacila.obluchateli-promo__recirculators-bacila--6
						i.obluchateli-promo__recirculators-bacila.obluchateli-promo__recirculators-bacila--7

						div.obluchateli-promo__recirculators-item.obluchateli-promo__recirculators-item--1
						div.obluchateli-promo__recirculators-item.obluchateli-promo__recirculators-item--2
						div.obluchateli-promo__recirculators-item.obluchateli-promo__recirculators-item--3
		div.obluchateli-promo__separator
			div.obluchateli-promo__separator_inner
				svg(xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#f0f6fb" viewBox="0 0 4 0.266661" preserveAspectRatio="none")
					polygon(points="4,0 4,0.266661 -0,0.266661")

	section.obluchateli-info#id2
		div.obluchateli-info__wrapper
			div.obluchateli-info__recirculator
			div.obluchateli-info__interactive
					i.obluchateli-info__bacila.obluchateli-info__bacila--1(style="margin: 35.5792px 17.4736px 38.7475px 5.69472px;")
					i.obluchateli-info__bacila.obluchateli-info__bacila--2(style="margin: 34.736px 45.8051px 11.8355px 18.0131px;")
					i.obluchateli-info__bacila.obluchateli-info__bacila--3(style="margin: 34.4836px 17.3894px 28.1583px 21.3894px;")
					i.obluchateli-info__bacila.obluchateli-info__bacila--4(style="margin: 10.849px 6.7986px 2.71224px 9.18706px;")
					i.obluchateli-info__bacila.obluchateli-info__bacila--5(style="margin: 28.8409px 31.9628px 39.2706px 40.0372px;")
					i.obluchateli-info__bacila.obluchateli-info__bacila--red
			div.obluchateli-info__block
				div.obluchateli-info__block--title Destruction<br> of most viruses, microorganisms and bacteria with effeciency of
				span 99%
			div.obluchateli-info__block-shadow
			div.obluchateli-info__content
				div.obluchateli-info__content--item The air stream, passing through recirculiator, undergoes ultraviolet effect, which destroys pathogenic microorganisms. The holes, necessary for ventilation are heavily blackened, the UV-lamps are covered with opaque jacket, not allowing UV radiance to penetrate into the room.
				div.obluchateli-info__content--item Such a peculiarity of construction makes recirculator Armed effective and 100% safe means for air disinfection.
		div.obluchateli-info__separator
			div.obluchateli-info__separator_inner
				svg(xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#fff" viewBox="0 0 4 0.266661" preserveAspectRatio="none")
					polygon(points="4,0 4,0.266661 -0,0.266661")

	section.obluchateli-lamp#id3
		div.obluchateli-lamp__wrapper
			div.obluchateli-lamp__interactive
				i.obluchateli-lamp__pear.obluchateli-lamp__pear--2
				i.obluchateli-lamp__pear.obluchateli-lamp__pear--1
				i.obluchateli-lamp__chain.obluchateli-lamp__chain--1(style="margin: 18px 10.6106px 21.8317px 19.6733px;")
				i.obluchateli-lamp__chain.obluchateli-lamp__chain--2(style="margin: 6.50655px 7.44159px 9.06495px 32.8528px;")
				i.obluchateli-lamp__chain.obluchateli-lamp__chain--3(style="margin: 17.4422px 8.27388px 2.38945px 33.0528px;")
				i.obluchateli-lamp__chain.obluchateli-lamp__chain--4(style="margin: 1px 2.52517px 3.05035px 2.71224px;")
				i.obluchateli-lamp__lamp.obluchateli-lamp__lamp--1(style="margin: 16.4112px 15.0995px 22.7229px 12.1299px;")
				i.obluchateli-lamp__lamp.obluchateli-lamp__lamp--2(style="margin: 12px 6.00014px 16.9999px 2.00007px;")
			div.obluchateli-lamp__title
				h2.obluchateli-lamp__title-text What is needed for service?
			div.obluchateli-lamp__content
				div.obluchateli-lamp__left The lamp inside irradiator-recirculator ‘Armed’ can work up <span>to 8000 hours</span> without requiring special care and technical servicing.
				img.obluchateli-lamp__img(src="img/lamp/obluchateli-lamp.png" alt="lamp")
				div.obluchateli-lamp__right When the lamp expires it should be changed for a new one,<br> <span>which is as easily to do as to change a lamp in a chandelier.</span>

	section.obluchateli-device#id4
		div.obluchateli-device__wrapper
			div.obluchateli-device__title
				h2.obluchateli-device__title-text Where are such devices used?
			div.obluchateli-device__slider
				div.obluchateli-device__slider--1
					div.obluchateli-device__slider--title
						i.fas.fa-medkit
						span Medicine
					div.obluchateli-device__slider--subtitle
						span to prevent the patients from passing illnesses to each other
					div.obluchateli-device__slider--images
						img.img-responsive(src="img/slider/obluchateli-device__slider--1.png" alt="At home")
				div.obluchateli-device__slider--2
					div.obluchateli-device__slider--title
						i.far.fa-building
						span At an office
					div.obluchateli-device__slider--subtitle
						span to reduce the frequency of employees’ illnesses
					div.obluchateli-device__slider--images
						img.img-responsive(src="img/slider/obluchateli-device__slider--2.png" alt="At an office")
				div.obluchateli-device__slider--3
					div.obluchateli-device__slider--title
						i.fas.fa-home
						span At home
					div.obluchateli-device__slider--subtitle
						span to protect the health of the family
					div.obluchateli-device__slider--images
						img.img-responsive(src="img/slider/obluchateli-device__slider--3.png" alt="Medicine")
			.obluchateli-device__overlay
				.obluchateli-device__overlay-left
				.obluchateli-device__overlay-right
				.obluchateli-device__overlay_bg-left
				.obluchateli-device__overlay_bg-right

	section.obluchateli-price#id5
		div.obluchateli-price__wrapper
			div.obluchateli-price__title
				h2.obluchateli-price__title-text Price?

			div.obluchateli-price__product
				div.obluchateli-price__subtitle
					i.fas.fa-home
					span Home (Family health support)
				div.obluchateli-price__slider
					div.obluchateli-price__slider_wrapper
						a(href="#product-item-1")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-1-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH111-115  (plastic body)*
						div.obluchateli-price__slider_info
							div.price $ 29

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-2")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-2-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH111-115  (plastic body)*
						div.obluchateli-price__slider_info
							div.price $ 29

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-3")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-3-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH111-115  (plastic body)*
						div.obluchateli-price__slider_info
							div.price $ 29

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-4")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-4-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH111-115  (plastic body)*
						div.obluchateli-price__slider_info
							div.price $ 29

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-5")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-5-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH111-130  (plastic body)*
						div.obluchateli-price__slider_info
							div.price $ 33

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-6")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-6-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH111-115  (metal body)*
						div.obluchateli-price__slider_info
							div.price $ 36

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-7")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-7-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH111-115  (metal body)*
						div.obluchateli-price__slider_info
							div.price $ 36

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-8")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-8-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH111-115  (metal body)*
						div.obluchateli-price__slider_info
							div.price $ 36
					div.obluchateli-price__slider_wrapper
						a(href="#product-item-9")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-9-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH111-130  (metal body)*
						div.obluchateli-price__slider_info
							div.price $ 37

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-10")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-10-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH111-130  (metal body)*
						div.obluchateli-price__slider_info
							div.price $ 38

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-11")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-11-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH111-130  (metal body)*
						div.obluchateli-price__slider_info
							div.price $ 38

				div.obluchateli-price__subtitle
					i.far.fa-building
					span Bussines / <i class="fas fa-medkit"></i> Medicine (protection from desease transmission)
				div.obluchateli-price__slider
					div.obluchateli-price__slider_wrapper
						a(href="#product-item-12")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-12-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH211-115  (plastic body)*
						div.obluchateli-price__slider_info
							div.price $ 40

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-13")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-13-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH211-130  (plastic body)*
						div.obluchateli-price__slider_info
							div.price $ 48

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-14")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-14-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH211-115  (metal body)*
						div.obluchateli-price__slider_info
							div.price $ 50

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-15")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-15-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH211-130  (metal body)*
						div.obluchateli-price__slider_info
							div.price $ 58

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-16")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-16-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH311-115  (metal body)*
						div.obluchateli-price__slider_info
							div.price $ 106

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-17")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-17-0.jpg)")
							div.obluchateli-price__slider_title Medical Irradiator-recirculator “Armed” СH511-115  (metal body)*
						div.obluchateli-price__slider_info
							div.price $ 120
				.obluchateli-price__slider_subtitle *The support for the recirculator is purchased separately

				div.obluchateli-price__subtitle
					i.far.fa-plus-square
					span Joint products
				div.obluchateli-price__slider
					div.obluchateli-price__slider_wrapper
						a(href="#product-item-18")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-18-0.jpg)")
							div.obluchateli-price__slider_title Uv-lamp “Armed” F15 T8 (G13)
						div.obluchateli-price__slider_info
							div.price $ 2,50

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-19")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-19-0.jpg)")
							div.obluchateli-price__slider_title Uv-lamp “Armed” F30 T8 (G13)
						div.obluchateli-price__slider_info
							div.price $ 2,70

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-20")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-20-0.jpg)")
							div.obluchateli-price__slider_title Uv-lamp "Armed" ZW30S19W (2G11)
						div.obluchateli-price__slider_info
							div.price $ 5,60

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-21")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-21-0.jpg)")
							div.obluchateli-price__slider_title Uv-lamp "Armed" ZW15S19W (2G11)
						div.obluchateli-price__slider_info
							div.price $ 4,60

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-22")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-22-0.jpg)")
							div.obluchateli-price__slider_title Rack for a recirculator per 1 lamp
						div.obluchateli-price__slider_info
							div.price $ 15

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-23")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-23-0.jpg)")
							div.obluchateli-price__slider_title Rack for a recirculator per 2 lamps
						div.obluchateli-price__slider_info
							div.price $ 15

					div.obluchateli-price__slider_wrapper
						a(href="#product-item-24")
							div.obluchateli-price__slider_photo(style="background-image: url(img/product/product-item-24-0.jpg)")
							div.obluchateli-price__slider_title Rack for a recirculator per 3/5 lamps
						div.obluchateli-price__slider_info
							div.price $ 15


	section.obluchateli-howto#id6
		div.obluchateli-howto__wrapper
			div.obluchateli-promo__interactive
				i.obluchateli-promo__chain.obluchateli-promo__chain--1(style="margin: 32.8417px 25.4736px 11.0214px 4px;")
				i.obluchateli-promo__chain.obluchateli-promo__chain--2(style="margin: 20.065px 36.2122px 16.9827px 9.25982px;")
				i.obluchateli-promo__chain.obluchateli-promo__chain--5(style="margin: 32.1777px 6.12197px 42.4297px 3.37399px;")
				i.obluchateli-promo__chain.obluchateli-promo__chain--6(style="margin: 39.0942px 29.5478px 22.6733px 21.1683px;")
			div.obluchateli-howto__title
				h2.obluchateli-howto__title-text How to work with us?
			div.obluchateli-howto__icon-block.row.between-xs
				.obluchateli-howto__icon-block_item.col-md-2.col-xs-12
					div.obluchateli-howto__icon-block_item-icon
						i.far.fa-edit
					div.obluchateli-howto__icon-block_item-text
						a(href="#id7") Make an order

				.obluchateli-howto__icon-block_item.col-md-2.col-xs-12
					div.obluchateli-howto__icon-block_item-icon
						i.far.fa-file-alt
					div.obluchateli-howto__icon-block_item-text Get a favorable offer

				.obluchateli-howto__icon-block_item.col-md-2.col-xs-12
					div.obluchateli-howto__icon-block_item-icon--4
					div.obluchateli-howto__icon-block_item-text Make 30% advance payment

				.obluchateli-howto__icon-block_item.col-md-2.col-xs-12
					div.obluchateli-howto__icon-block_item-icon
						i.far.fa-calendar
					div.obluchateli-howto__icon-block_item-text During 40 workdays<br> FOB Shanghai

				.obluchateli-howto__icon-block_item.col-md-2.col-xs-12
					div.obluchateli-howto__icon-block_item-icon--6
					div.obluchateli-howto__icon-block_item-text Payment of the <br>remained

	//-section.obluchateli-questions#id7
		div.obluchateli-questions__wrapper
			div.obluchateli-questions__title
				h2.obluchateli-questions__title-text Do you have any questions?
			div.obluchateli-questions__wrapper_form
				div.obluchateli-questions__subtitle
					h3.obluchateli-questions__subtitle-text  Would like to make an order?
				div.obluchateli-questions__feedback.row
					div.obluchateli-questions__feedback-left.col-md-6.col-xs-12
						div.obluchateli-questions__feedback--text
							span Send as a mail by this form:
						form.obluchateli-questions__feedback-form#feedback
							div.obluchateli-questions__form-group.form-group
								input.obluchateli-questions__form-group--field.form-control(type="text" id="name" placeholder="Name" required)
							div.obluchateli-questions__form-group.form-group
								input.obluchateli-questions__form-group--field.form-control(type="email" id="email" placeholder="E-mail:" required)
							div.obluchateli-questions__form-group.form-group
								input.obluchateli-questions__form-group--fieldarea.form-control(type="text" id="message" placeholder="Questions/order:" required)
							button.obluchateli-questions__button(type="submit" id="form-submit") Send
							div.hidden.text-danger(id="msgSubmit") Thank you! <br> We will answer you soon!
					div.obluchateli-questions__feedback-right.col-md-6.col-xs-12
						div.obluchateli-questions__feedback--text
							span Our contacts:
						div.obluchateli-questions__feedback--phone
							i.fas.fa-phone
							a(href="tel:+861012345") (86)10-12345
						div.obluchateli-questions__feedback--email
							i.far.fa-envelope
							a(href="mailto:sales@armed-uv.com") sales@armed-uv.com
			img.obluchateli-questions__bg-image--1(src="img/recirculators/recirkulyatory-left-grey.png" alt="recirculators")
			img.obluchateli-questions__bg-image--2(src="img/recirculators/recirkulyatory-right.png" alt="recirculators")
			i.obluchateli-questions__bacila.obluchateli-questions__bacila--red
	section.obluchateli-questions#id7
		div.obluchateli-questions__wrapper
			div.obluchateli-questions__title
				h2.obluchateli-questions__title-text Do you have any questions?
			div.obluchateli-questions__wrapper_form
				div.obluchateli-questions__subtitle
					h3.obluchateli-questions__subtitle-text  Would like to make an order?
				div.obluchateli-questions__feedback.row
					div.obluchateli-questions__feedback-send.col-xs-12
						div.obluchateli-questions__feedback--text
							span Send as a mail by this form:
							form.obluchateli-questions__feedback-form.row#feedback
								.col-md-6.col-xs-12
									div.obluchateli-questions__form-group.form-group
										input.obluchateli-questions__form-group--field.form-control(type="text" id="name" placeholder="Name" required)
									div.obluchateli-questions__form-group.form-group
										input.obluchateli-questions__form-group--field.form-control(type="email" id="email" placeholder="E-mail:" required)
								.col-md-6.col-xs-12
									div.obluchateli-questions__form-group.form-group
										textarea.obluchateli-questions__form-group--fieldarea.form-control(type="text" id="message" placeholder="Questions/order:" required)
									button.obluchateli-questions__button(type="submit" id="form-submit") Send
									div.hidden.text-danger(id="msgSubmit") Thank you! <br> We will answer you soon!
				div.obluchateli-questions__feedback-contact.row.center-xs
					div.obluchateli-questions__feedback--text.col-xs-12
						span Our contacts:
						i.far.fa-envelope
						a(href="mailto:sales@armed-uv.com") sales@armed-uv.com
			img.obluchateli-questions__bg-image--1(src="img/recirculators/recirkulyatory-left-grey.png" alt="recirculators")
			img.obluchateli-questions__bg-image--2(src="img/recirculators/recirkulyatory-right.png" alt="recirculators")
			i.obluchateli-questions__bacila.obluchateli-questions__bacila--red
			i.obluchateli-questions__elipse

