//- Home
#product-item-1.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-1-0.jpg" alt="product")
                    img(src="img/product/product-item-1-1.jpg" alt="product")
                    img(src="img/product/product-item-1-2.jpg" alt="product")
                    img(src="img/product/product-item-1-3.jpg" alt="product")
                    img(src="img/product/product-item-1-4.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-1-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-1-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-1-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-1-3.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-1-4.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH111-115 (plastic body)
                    .dialog-right__content-text
                        p Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.

                        p It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.

                        p The styles are equipped with the system of coercive air circulation and bactericidal bulb.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td plastic
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 1
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 15
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td G13
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 30
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 20
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 610
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 95
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 105
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 29
                a.modalbg__button(href="#close" title="close") Close

#product-item-2.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-2-0.jpg" alt="product")
                    img(src="img/product/product-item-2-1.jpg" alt="product")
                    img(src="img/product/product-item-2-2.jpg" alt="product")
                    img(src="img/product/product-item-2-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-2-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-2-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-2-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-2-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH111-115 (plastic body)
                    .dialog-right__content-text
                        p Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.

                        p It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.

                        p The styles are equipped with the system of coercive air circulation and bactericidal bulb.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td plastic
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 1
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 15
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td G13
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 30
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 20
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 610
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 95
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 105
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 29
                a.modalbg__button(href="#close" title="close") Close

#product-item-3.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-3-0.jpg" alt="product")
                    img(src="img/product/product-item-3-1.jpg" alt="product")
                    img(src="img/product/product-item-3-2.jpg" alt="product")
                    img(src="img/product/product-item-3-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-3-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-3-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-3-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-3-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH111-115 (plastic body)
                    .dialog-right__content-text
                        p Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.

                        p It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.

                        p The styles are equipped with the system of coercive air circulation and bactericidal bulb.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td plastic
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 1
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 15
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td G13
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 30
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 20
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 610
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 95
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 105
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 29
                a.modalbg__button(href="#close" title="close") Close

#product-item-4.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-4-0.jpg" alt="product")
                    img(src="img/product/product-item-4-1.jpg" alt="product")
                    img(src="img/product/product-item-4-2.jpg" alt="product")
                    img(src="img/product/product-item-4-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-4-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-4-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-4-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-4-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH111-115 (plastic body)
                    .dialog-right__content-text
                        p Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.

                        p It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.

                        p The styles are equipped with the system of coercive air circulation and bactericidal bulb.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td plastic
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 1
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 15
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td G13
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 30
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 20
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 610
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 95
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 105
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 29
                a.modalbg__button(href="#close" title="close") Close

#product-item-5.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-5-0.jpg" alt="product")
                    img(src="img/product/product-item-5-1.jpg" alt="product")
                    img(src="img/product/product-item-5-2.jpg" alt="product")
                    img(src="img/product/product-item-5-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-5-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-5-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-5-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-5-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH111-130 (plastic body)
                    .dialog-right__content-text
                        p Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.

                        p It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.

                        p The styles are equipped with the system of coercive air circulation and bactericidal bulb.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td plastic
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 1
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 30
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td G13
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 30
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 30
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 1070
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 95
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 105
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 33
                a.modalbg__button(href="#close" title="close") Close

#product-item-6.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-6-0.jpg" alt="product")
                    img(src="img/product/product-item-6-1.jpg" alt="product")
                    img(src="img/product/product-item-6-2.jpg" alt="product")
                    img(src="img/product/product-item-6-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-6-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-6-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-6-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-6-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH111-115 (metal body)
                    .dialog-right__content-text
                        p Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.

                        p It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.

                        p The styles are equipped with the system of coercive air circulation and bactericidal bulb.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td metal
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 1
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 15
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td 2G11
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 30
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 20
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 410
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 110
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 105
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 36
                a.modalbg__button(href="#close" title="close") Close

#product-item-7.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-7-0.jpg" alt="product")
                    img(src="img/product/product-item-7-1.jpg" alt="product")
                    img(src="img/product/product-item-7-2.jpg" alt="product")
                    img(src="img/product/product-item-7-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-7-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-7-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-7-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-7-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH111-115 (metal body)
                    .dialog-right__content-text
                        p Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.

                        p It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.

                        p The styles are equipped with the system of coercive air circulation and bactericidal bulb.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td metal
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 1
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 27
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td 2G11
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 30
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 20
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 410
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 110
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 105
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 36
                a.modalbg__button(href="#close" title="close") Close

#product-item-8.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-8-0.jpg" alt="product")
                    img(src="img/product/product-item-8-1.jpg" alt="product")
                    img(src="img/product/product-item-8-2.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-8-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-8-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-8-2.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH111-130 (metal body)
                    .dialog-right__content-text
                        p Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.

                        p It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.

                        p The styles are equipped with the system of coercive air circulation and bactericidal bulb.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td metal
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 1
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 27
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td 2G11
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 30
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 20
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 505
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 110
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 105
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 36
                a.modalbg__button(href="#close" title="close") Close

#product-item-9.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-9-0.jpg" alt="product")
                    img(src="img/product/product-item-9-1.jpg" alt="product")
                    img(src="img/product/product-item-9-2.jpg" alt="product")
                    img(src="img/product/product-item-9-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-9-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-9-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-9-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-9-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH111-130 (metal body)
                    .dialog-right__content-text
                        p Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.

                        p It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.

                        p The styles are equipped with the system of coercive air circulation and bactericidal bulb.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td metal
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 1
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 27
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td 2G11
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 30
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 30
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 505
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 110
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 105
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 37
                a.modalbg__button(href="#close" title="close") Close

#product-item-10.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-10-0.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-10-0.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH111-130 (metal body)
                    .dialog-right__content-text
                        p Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.

                        p It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.

                        p The styles are equipped with the system of coercive air circulation and bactericidal bulb.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td metal
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 1
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 27
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td 2G11
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 30
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 30
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 505
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 110
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 105
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 38
                a.modalbg__button(href="#close" title="close") Close

#product-item-11.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-11-0.jpg" alt="product")
                    img(src="img/product/product-item-11-1.jpg" alt="product")
                    img(src="img/product/product-item-11-2.jpg" alt="product")
                    img(src="img/product/product-item-11-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-11-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-11-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-11-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-11-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH111-130 (metal body)
                    .dialog-right__content-text
                        p Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.

                        p It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.

                        p The styles are equipped with the system of coercive air circulation and bactericidal bulb.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td metal
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 1
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 27
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td 2G11
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 30
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 30
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 505
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 110
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 105
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 38
                a.modalbg__button(href="#close" title="close") Close

//- Bussines / Medicine
#product-item-12.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-12-0.jpg" alt="product")
                    img(src="img/product/product-item-12-1.jpg" alt="product")
                    img(src="img/product/product-item-12-2.jpg" alt="product")
                    img(src="img/product/product-item-12-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-12-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-12-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-12-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-12-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH211-115 (plastic body)
                    .dialog-right__content-text
                        p Two-bulb irradiators-recirculators have gained popularity in kinder gardens, schools, beauty salons and business centers for air disinfection, destruction of most viruses and microorganisms, since they help to reduce the risk of incidence among employees and clients.

                        p The styles are equipped with the system of coercive air circulation and 2 bactericidal bulbs.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td plastic
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 2
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 15
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td G13
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 60
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 40
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 175
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 110
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 720
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 40
                a.modalbg__button(href="#close" title="close") Close

#product-item-13.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-13-0.jpg" alt="product")
                    img(src="img/product/product-item-13-1.jpg" alt="product")
                    img(src="img/product/product-item-13-2.jpg" alt="product")
                    img(src="img/product/product-item-13-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-13-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-13-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-13-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-13-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH211-130 (plastic body)
                    .dialog-right__content-text
                        p Two-bulb irradiators-recirculators have gained popularity in kinder gardens, schools, beauty salons and business centers for air disinfection, destruction of most viruses and microorganisms, since they help to reduce the risk of incidence among employees and clients.

                        p The styles are equipped with the system of coercive air circulation and 2 bactericidal bulbs.


                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td plastic
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 2
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 30
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td G13
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 90
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 75
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 175
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 110
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 1170
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 48
                a.modalbg__button(href="#close" title="close") Close

#product-item-14.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-14-0.jpg" alt="product")
                    img(src="img/product/product-item-14-1.jpg" alt="product")
                    img(src="img/product/product-item-14-2.jpg" alt="product")
                    img(src="img/product/product-item-14-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-14-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-14-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-14-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-14-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH211-115 (metal body)
                    .dialog-right__content-text
                        p Two-bulb irradiators-recirculators have gained popularity in kinder gardens, schools, beauty salons and business centers for air disinfection, destruction of most viruses and microorganisms, since they help to reduce the risk of incidence among employees and clients.

                        p The styles are equipped with the system of coercive air circulation and 2 bactericidal bulbs.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td metal
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 2
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 15
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td G13
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 60
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 40
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 175
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 110
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 710
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 50
                a.modalbg__button(href="#close" title="close") Close

#product-item-15.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-15-0.jpg" alt="product")
                    img(src="img/product/product-item-15-1.jpg" alt="product")
                    img(src="img/product/product-item-15-2.jpg" alt="product")
                    img(src="img/product/product-item-15-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-15-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-15-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-15-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-15-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH211-130 (metal body)
                    .dialog-right__content-text
                        p Two-bulb irradiators-recirculators have gained popularity in kinder gardens, schools, beauty salons and business centers for air disinfection, destruction of most viruses and microorganisms, since they help to reduce the risk of incidence among employees and clients.

                        p The styles are equipped with the system of coercive air circulation and 2 bactericidal bulbs.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td metal
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 2
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 30
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td G13
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 90
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 75
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 175
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 110
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 1170
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price-sale $ 58
                a.modalbg__button(href="#close" title="close") Close

#product-item-16.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-16-0.jpg" alt="product")
                    img(src="img/product/product-item-16-1.jpg" alt="product")
                    img(src="img/product/product-item-16-2.jpg" alt="product")
                    img(src="img/product/product-item-16-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-16-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-16-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-16-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-16-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH311-115 (metal body)
                    .dialog-right__content-text
                        p Three lamp irradiators-recirculators are recommended to be used in departments of medical institutions, such as operation, surgery and reanimation departments, maternity hospitals. Due to its construction, the device is safe for people, it’s not necessary to leave the room when it is operating.

                        p The styles effectively work in places of any type, with volume not exceeding 100 m3, are equipped with the system of coercive air circulation, consisting of 3 ventilators and inlet filter.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td metal
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 3
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 15
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td G13
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 100
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 60
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 320
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 130
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 825
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 106
                a.modalbg__button(href="#close" title="close") Close

#product-item-17.modalbg
    a.overlay(href="#close")
    .dialog
        a.close(href="#close" title="close") X
        .container
            .dialog-left
                .dialog-left__slider-for
                    img(src="img/product/product-item-17-0.jpg" alt="product")
                    img(src="img/product/product-item-17-1.jpg" alt="product")
                    img(src="img/product/product-item-17-2.jpg" alt="product")
                    img(src="img/product/product-item-17-3.jpg" alt="product")
                .dialog-left__slider-nav
                    img.slider-image(src="img/product/product-item-17-0.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-17-1.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-17-2.jpg" alt="product")
                    img.slider-image(src="img/product/product-item-17-3.jpg" alt="product")
            .dialog-right
                .dialog-right__content
                    h2 Medical Irradiator-recirculator “Armed” СH511-115 (metal body)
                    .dialog-right__content-text
                        p Five bulb irradiators-recirculators “Armed” differ from three bulb styles only in quantity of bulbs and also are recommended to be used in departments of medical institutions, such as operation, surgery and reanimation departments, maternity hospitals. Due to its construction, the device is safe for people, it’s not necessary to leave the room when it is operating.

                        p The styles effectively work in places of any type, with volume not exceeding 100 m3, are equipped with the system of coercive air circulation, consisting of 3 ventilators and inlet filter.

                    hr

                    .dialog-right__content-specifications
                        h3 Specifications:
                        table
                            tbody
                                tr
                                    td Irradiator type <span>....................................................................................................</span>
                                    td closed
                                tr
                                    td Material of the body <span>..........................................................................................</span>
                                    td metal
                                tr
                                    td Quantity of lamps <span>..............................................................................................</span>
                                    td 5
                                tr
                                    td Power of lamps, Watt <span>........................................................................................</span>
                                    td 15
                                tr
                                    td The type of the lamp cap <span>..................................................................................</span>
                                    td G13
                                tr
                                    td Productivity, m3 per hour <span>..................................................................................</span>
                                    td 100
                                tr
                                    td Service life, hours <span>.............................................................................................</span>
                                    td 8000
                                tr
                                    td Power supply, Volt/Hz <span>.......................................................................................</span>
                                    td 220/50
                                tr
                                    td Power consumption, Watt <span>.................................................................................</span>
                                    td 100
                                tr
                                    td Warranty period, months <span>...................................................................................</span>
                                    td 12
                                tr
                                    td Length, mm <span>.......................................................................................................</span>
                                    td 320
                                tr
                                    td Width, mm <span>.........................................................................................................</span>
                                    td 130
                                tr
                                    td Height, mm <span>.........................................................................................................</span>
                                    td 825
                    .dialog-right__content-price
                        //strike.price $ 300
                        div.price $ 120
                a.modalbg__button(href="#close" title="close") Close

//- Joint product
#product-item-18.modalbg.modalimg
    a.overlay(href="#close")
    .dialog.dialogimg
        a.close(href="#close" title="close") X
        .container
            .row.center-xs
                .popup-image.col-xs-12
                    img(src="img/product/product-item-18-0.jpg" alt="product")

#product-item-19.modalbg.modalimg
    a.overlay(href="#close")
    .dialog.dialogimg
        a.close(href="#close" title="close") X
        .container
            .row.center-xs
                .popup-image.col-xs-12
                    img(src="img/product/product-item-19-0.jpg" alt="product")

#product-item-20.modalbg.modalimg
    a.overlay(href="#close")
    .dialog.dialogimg
        a.close(href="#close" title="close") X
        .container
            .row.center-xs
                .popup-image.col-xs-12
                    img(src="img/product/product-item-20-0.jpg" alt="product")

#product-item-21.modalbg.modalimg
    a.overlay(href="#close")
    .dialog.dialogimg
        a.close(href="#close" title="close") X
        .container
            .row.center-xs
                .popup-image.col-xs-12
                    img(src="img/product/product-item-21-0.jpg" alt="product")

#product-item-22.modalbg.modalimg
    a.overlay(href="#close")
    .dialog.dialogimg
        a.close(href="#close" title="close") X
        .container
            .row.center-xs
                .popup-image.col-xs-12
                    img(src="img/product/product-item-22-0.jpg" alt="product")

#product-item-23.modalbg.modalimg
    a.overlay(href="#close")
    .dialog.dialogimg
        a.close(href="#close" title="close") X
        .container
            .row.center-xs
                .popup-image.col-xs-12
                    img(src="img/product/product-item-23-0.jpg" alt="product")

#product-item-24.modalbg.modalimg
    a.overlay(href="#close")
    .dialog.dialogimg
        a.close(href="#close" title="close") X
        .container
            .row.center-xs
                .popup-image.col-xs-12
                    img(src="img/product/product-item-24-0.jpg" alt="product")

